/*=======================================================================

	❤❤❤ Gumby by Digital Surgeons. ❤❤❤
	
	*** This is where you should keep all of your design specific styles ***
 
 ========================================================================*/

html, body{
	height: 100%;
}

body{
	background: #fff url("../images/bodybg.png") repeat;
}

#header{
	background: #000 url("../images/les-anges-terrace.jpg") no-repeat;
	height: 650px;
	background-position: 0px -300px;
}

#establishment{
	margin-left: 0;
	margin-top: 20px;
	font-family: 'honey_scriptsemibold';
	text-align: center;
	color: #fff;	
}

#establishment p{
	font-size: 4.5em;
	margin: 0;
}

.oranje{
	color: #252525;
}

#featured_images{
	height: 220px;
	margin-left: 0;
	margin-top: 10px;
}

#featured_images img.first{
	margin-right: 15px;
}

#featured_images img.last{
	float: right;
}
#introduction{
	margin-left: 0;
	margin-top: 10px;
	text-align: center;
}

#introduction p{
	font-size:  1.2em;
	width: 80%;
	margin: 0 auto;
	color: #fff;
	line-height: 25px;
}

nav{
	height: 50px;
	background: url("../images/Lines.pn") rgba(255, 255, 255, 0.3);
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 0;
	font-family: 'honey_scriptsemibold';
}

nav ul{
	float: left;
	width: 100%;
	height: 50px;
}

nav li{
	text-align: center;
	float: left;
	width: 16.579%;
	height: 50px;
	border-right: 1px solid;
	border-color: rgba(255, 255, 255, 0.1);
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

nav li.last{
	border-right: none;
}

nav li a{
	width: 100%;
	height: 100%;
	float: left;
	font-size: 1.7em;
	color: #fff;
}

nav li:hover{
	background:  #00aad3;
}

nav li:hover a{
	color: #fff;
}

.front nav li > a.active{
	background:  #00aad3 url("../images/Lines.pn");
} 

#paper{
	background: red;
	margin-top: -100px;
	margin-bottom: 100px;
}

#content_container{
	background: url("../images/paper_mid.png") repeat;
	min-height: 400px;
	margin-top: 0px;
	width:96%;
	padding: 2%;
}

#content_container_top{
	height:13px;
	width: 100%;
	background: url("../images/paper_top.png") repeat-x;
	float: left;
	margin-top: -10px;
}
#content_container_bottom{
	height:23px;
	width: 100%;
	background: transparent url("../images/paper_bottom.png") repeat-x;
	float: left;
	margin-top: 0px;
}

#actual_content_container{
	width: 100%;
	min-height: 600px;
	background: #fff;
	box-shadow: 1px 1px 2px #e7e7e7;
}